.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  width: 100%;
  border-bottom: 1px solid;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
}
